* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header {
    height: 800px;
    width: 100%;
    background-image: radial-gradient(circle, rgb(31, 28, 24, .1), rgb(31, 28, 24, .6), rgba(142, 14, 0, .7)), url('img/p_51_mustang_tuskegee_airmen_plane_war2.jpg');
    background-size: cover;

}